body {
    margin: 0;
    font-family: 'Oxanium', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1, h2, h3, h4 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #02024d;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav .logo img {
    height: 70px;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    padding: 10px;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: cornflowerblue;
}

nav .search-icon {
    display: flex;
    align-items: center;
}

nav .search-icon input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

nav .search-icon .search-btn {
    padding: 5px 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}

nav .menu-icon {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #02024d;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    nav ul.active {
        max-height: 300px;
    }

    nav .menu-icon {
        display: block;
    }

    nav .search-icon {
        display: none;
    }
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    background-color: #000;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.hero-text h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #fff;
}

.hero-text p {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: #bbb;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-text .button,
.hero-text .button-demo {
    padding: 12px 25px;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.hero-text .button {
    background-color: #00a8a8;
}

.hero-text .button-demo {
    background-color: #f44336;
}

.hero-text .button:hover,
.hero-text .button-demo:hover {
    background-color: #333;
}

.hero-image {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .hero .container {
        flex-direction: column-reverse;
    }

    .hero-text {
        text-align: center;
        padding: 20px 0;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-image {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .hero-text .button,
    .hero-text .button-demo {
        padding: 10px 20px;
    }
}

.services {
    padding: 60px 30px;
    background-color: #fff;
    text-align: center;
}

.services .container-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.services .service {
    background-color: #333;
    color: white;
    padding: 50px;
    border-radius: 10px;
    flex: 1 1 calc(25% - 20px);
}


.services .service img {
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services .service img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.services .service-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.services .service-description {
    font-size: 16px;
    color: #d3d3d3;
}

.services-btn {
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
    background-color: #00a8a8;
    border: none;
    font-family: 'Oxanium', sans-serif;
}

.register-button{
    background-color: #f44336;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
    border: none;
    font-family: 'Oxanium', sans-serif;
}

.services-btn:hover {
    background-color: #5f5d5d;
}

.register-button:hover {
    background-color: #5f5d5d;
}

@media (max-width: 768px) {
    .services .service {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .services .service {
        flex: 1 1 100%;
    }
}

.cta-section {
    background-image: url('CXphotos/Support.webp');
    background-size: cover;
    background-position: center;
    padding: 200px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    margin: 50px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    width: 80%;
    height: 50%;
    margin-left: 10%;
}

.cta-container {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.cta-content h2 {
    color: #fcfcff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Oxanium", sans-serif;
}

.cta-button {
    background-color: #080244;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Oxanium", sans-serif;
}

.cta-button:hover {
    background-color: #333; 
}

@media (max-width: 768px) {
    .cta-content h2 {
        font-size: 1.5rem;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 14px;
    }
}

footer {
    padding: 30px 20px;
    background-color: #02024d;
    color: #fff;
    text-align: center;
}

footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .footer-col {
    flex: 1 1 calc(33.333% - 20px);
    margin-bottom: 20px;
}

footer .footer-col h4 {
    margin-bottom: 15px;
    font-size: 18px;
}

footer .footer-col ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

footer .footer-col ul li {
    margin-bottom: 10px;
}

footer .footer-col ul li a {
    color: white;
    transition: color 0.3s;
}

footer .footer-col ul li a:hover {
    color: cornflowerblue;
    text-decoration-line: underline;
}

footer .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .social-links a {
    color: white;
    font-size: 15px;
    transition: color 0.3s;
}

footer .social-links a:hover {
    color: cornflowerblue;
}

@media (max-width: 768px) {
    footer .footer-col {
        flex: 1 1 100%;
        justify-content:first baseline;
    }
}

.footer {
    background-color: #010147;
    color: #fff;
    padding: 3px 0;
    position:relative;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer .copyright {
    font-size: 12px;
    font-family: "Oxanium", sans-serif;
}

.about-section {
    padding: 70px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    max-width: 600px;
}

.about-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: #00a8a8;
}

.about-text h2 {
    color: #00a8a8;
}

.about-text p {
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #555555;
}

.about-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.about-img {
    width: 50%;
    max-width: 220px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        gap: 20px;
        align-items: center;
    }

    .about-text {
        max-width: 100%;
        text-align: center; 
    }

    .about-images {
        align-items: center; 
        gap: 20px; 
        align-items: center;
    }

    .about-text h1 {
        font-size: 2rem;
    }

    .about-img {
        max-width: 50%; 
        margin-bottom: 20px; 
    }
}

@media (max-width: 480px) {
    .about-text h1 {
        font-size: 1.8rem;
    }

    .about-text p {
        font-size: 1rem;
    }

    .about-img {
        max-width: 50%; 
    }
}


.page-header {
    background-image: url('CXphotos/software-developer.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    text-align: right;
    color: rgb(255, 255, 255);
    position: relative;
}

.page-header-content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.page-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;text-align: left;
}

.breadcrumb {
    font-size: 1rem;
    margin-top: 10px;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.breadcrumb a:hover {
    text-decoration: underline;
    opacity: 1;
}

.breadcrumb span {
    opacity: 0.8;
}


#registration-page {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Oxanium", sans-serif;
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 60 60px;  
    height: 90vh;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

/*
#toggle-password {
    position: absolute;
    right: 10px;
    top: 20px;
    transform: translateX(-20);
    background: none;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    color: #00a8a8;
}
*/
.check-box{
    display: flex;
}
.input-group2 {
    align-items: left;
    width: 10%;
    padding-left: 2px;
}
.terms {
    display: flex;
    align-items: left;
   
}

.terms input {
    margin-right: 20px;
}

.terms a {
    color: #001fa8;
}

.submit-button {
    background-color: #001fa8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0c33df;
}

p {
    text-align: center;
    margin-top: 10px;
}

p a {
    color: #00a8a8;
}

@media (max-width: 768px) {
    .form-container {
        padding: 20px;
    }
}

.footer3 {
    background-color: #f0eded;
    color: #2a2c2c;
    padding: 3px 0;
    position:relative;
}

.footer3 .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 30px;
}

.footer3 .copyright {
    font-size: 12px;
    font-family: "Oxanium", sans-serif;
}